{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Welcome to my page!{% endblock %}
{% block extra_head %}
	<meta name="keywords" content="Mourad Mouariq, blog, personal web site, sudoku game, angular.js"/>
	<meta name="description" content="Learning Angular.js the hard way; a sudoku."/>	
{% endblock %}
{% block content %}
<div id="wrapper" class="container" ng-app="Sudoku">
	<div class="content" ng-controller="SudokuController">
		 <div id="json_url" class="row-fluid" url_media="{{MEDIA_URL}}">
		 	<div class="span11">
		 		<div ng-repeat="row in rows" class="row-fluid  {[{ row.id | row_modulo_3 }]}">		 					
					<div class="controls controls-row">														
						<input ng-repeat="column in row.columns"
							class="span1 {[{ column.class }]} {[{check(row.id, column.id)}]} {[{ column.id | column_modulo_3 }]}" 
							type="text" name="cell-{[{row.id}]}{[{column.id}]}"
							value="column.value" ng-model="column.value" type="number"
							ng-maxlength="1" required 
							ng-click="possibilities(row.id, column.id)" ng-change="{[{ get_value(column.value, row.id, column.id) }]}">											
					</div>															
				</div>
		 	</div>
		 	<div class="span1">		 		
		 		<div class="row-fluid">		 
		 			<button class="btn btn-inverse btn-block" ng-click="init()"><i class="icon-repeat"></i> Init</button>		 			
		 			<button class="btn btn-success btn-block" ng-click="solve()"><i class="icon-ok-sign"></i> Solve</button>
		 			<button class="btn btn-primary btn-block" ng-click="clear()"><i class="icon-off"></i> Clear</button>		 			
		 		</div>		 		
		 	</div>
		 </div>			
		<hr>				 	
 		<div class="row-fluid">		 
 			<div class="span11 offset1">
 				<p>
 					<button disabled="disabled" class="btn" type="button" ng-repeat="possibility in current_possibilities">
 						{[{possibility}]} 
 					</button> 
 				</p> 	
 			</div>	 						 		 
 		</div>		
 		<hr> 				 			
		<div class="row-fluid footer">
			<div class="span12">
				© 2012 mourad mourafiq. All right reserved.
			</div>
		</div>
	</div>	
</div>

{% endblock %}
{% block extra_content %}
	<script src="{{ MEDIA_URL }}js/libs/angular/angular-1.0.1.min.js"></script>
	<script src="{{ MEDIA_URL }}js/libs/angular/angular-resource-1.0.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/app.js"></script>
    <script src="{{ MEDIA_URL }}js/controllers.js"></script>    
    <script src="{{ MEDIA_URL }}js/filters.js"></script>    
    <style type="text/css">
		.margin_left_60{
			margin-left: 60px !important;
		}
		.margin_bottom_60{
			margin-bottom: 40px !important;
		}
		input.valide{
		    color:blue !important;		    
		}
		input.error {
		    color:red !important;		    
		}
		input.correct {
		    color: green !important;	
		    cursor: not-allowed !important;
		    background: #EBE6DF !important;	    
		}		
	</style>
{% endblock %}
